<!DOCTYPE html>
<html>
  <%- include('head.ejs') %>
  <body>
    <%- include('header.ejs')%>
    <form method="post" class="form">
      <div>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          value="<%= productName %>"
          required
        />
      </div>
      <div>
        <label for="price">price</label>
        <input
          type="number"
          id="price"
          name="price"
          value="<%= productPrice %>"
          required
        />
      </div>
      <div>
        <label for="image">Image URL</label>
        <input
          type="text"
          id="image"
          name="image"
          value="<%= productImage %>"
        />
      </div>
      <h3>Tags</h3>
      <div class="tag-wrapper">
        <div>
          <div class="tag-div">
            <label for="tag-work">work</label>
            <input type="checkbox" id="tag-work" name="tags" value="work" <%=
            productTags && productTags.includes("work") ? 'checked' : '' %> />
          </div>
          <div class="tag-div">
            <label for="tag-lifestyle">lifestyle</label>
            <input type="checkbox" id="tag-lifestyle" name="tags"
            value="lifestyle" <%= productTags &&
            productTags.includes("lifestyle") ? 'checked' : '' %> />
          </div>
        </div>
        <div>
          <div class="tag-div">
            <input type="checkbox" id="tag-motor" name="tags" value="motor" <%=
            productTags && productTags.includes("motor") ? 'checked' : '' %> />
            <label for="tag-motor">motor</label>
          </div>
          <div class="tag-div">
            <input type="checkbox" id="tag-mobile" name="tags" value="mobile"
            <%= productTags && productTags.includes("mobile") ? 'checked' : ''
            %> />
            <label for="tag-mobile">mobile</label>
          </div>
        </div>
      </div>

      <button class="btn">Submit</button>
    </form>
    <% if (error) { %>
    <pre><%= error %></pre>
    <% } %>
  </body>
</html>
