<!DOCTYPE html>
<html>
  <%- include('head.ejs') %>
  <body>
    <%- include('header.ejs') %>
    <div>
      <% if (session.userId) { %>
      <ul>
        <% products.map((product, index) => { %>
        <li>
          <p>Product <%= index + 1 %></p>
          <p>Name: <%= product.name %></p>
          <p>Price: <%= product.price %> €</p>
          <% product.tags.map((tag, index) => { %>
          <p>Tag <%= index + 1 %>: <%= tag %></p>
          <% }) %>
          <a href="<%= product.image %>"><%= product.name %> image</a>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </div>
  </body>
</html>
