<!DOCTYPE html>
<html>
  <%- include('head.ejs') %>
  <body>
    <%- include('header.ejs') %>
    <main class="main">
      <% if (session.userId) { %>
        <div class="nav">
          <% if (tag) { %>
            <h3 style="color: #00B7FF;">Tag: <%= tag %></h3>
          <% } %>
          <% if (name) { %>
            <h3 style="color: #00B7FF;">Name: <%= name %></h3>
          <% } %>
          <% if (priceView) { %>
            <h3 style="color: #00B7FF;">Price: <%= priceView %></h3>
          <% } %>
          <% if (sort) { %>
            <h3 style="color: #00B7FF;">Sort by: <%= sort %></h3>
          <% } %>
          <% if (errorURL) { %>
            <pre style="color: rgb(255, 31, 31);"><%= errorURL %></pre>
          <% } %>
          <% if (limit) { %>
            <a class="btn" href="<%= hrefShowAll %>">Show All</a>
            <% if (skip > 0) { %>
              <a class="btn" href="<%= hrefPreviousPage %>">Previous page</a>
            <% } %>
            <% if (nextPage < productsLength) { %>
              <a class="btn" href="<%= hrefNextPage %>">Next page</a>
            <% } %>
          <% } else { %>
            <a class="btn" href="<%= hrefPaginate %>">Show 2 by 2</a>
          <% } %>
        </div>
        <div class="nav sorting">
          <div class="sort">
            <h3>SORTING NAME</h3>
            <div style="margin-left: 1.25rem;">
              <a class="btn <%= sort === 'name' ? 'disabled' : '' %>" href="<%= hrefNameSortAtoZ %>">A-Z</a>
              <a class="btn <%= sort === 'name-1' ? 'disabled' : '' %>" href="<%= hrefNameSortZtoA %>">Z-A</a>
            </div>
          </div>
          <div class="sort" style="margin-top: 3rem;">
            <a class="btn <%= !sort ? 'disabled' : '' %>" href="<%= hrefUnsort %>">UNSORT</a>
          </div>
          <div class="sort">
            <h3>SORTING PRICE</h3>
            <div style="margin-left: 1rem;">
              <a class="btn <%= sort === 'price' ? 'disabled' : '' %>" href="<%= hrefPriceSortASC %>">ASC</a>
              <a class="btn <%= sort === 'price-1' ? 'disabled' : '' %>" href="<%= hrefPriceSortDES %>">DES</a>
            </div>
          </div>
        </div>
        <div class="nav-filters">
          <h3>FILTERS</h3>
          <div class="nav-filter-forms">
            <form method="get">
              <div class="name-price-filters">
                <% if (skip) { %>
                  <input type="hidden" name="skip" value="<%= skip %>">
                <% } %>
                <% if (limit) { %>
                  <input type="hidden" name="limit" value="<%= limit %>">
                <% } %>
                <label for="name-filter">NAME</label>
                <input id="name-filter" type="text" name="name" value="<%= name ? name : '' %>" required />
                <% if (price) { %>
                  <input type="hidden" name="price" value="<%= price %>">
                <% } %>
                <% if (priceMin) { %>
                  <input type="hidden" name="priceMin" value="<%= priceMin %>">
                <% } %>
                <% if (priceMax) { %>
                  <input type="hidden" name="priceMax" value="<%= priceMax %>">
                <% } %>
                <% if (priceExact) { %>
                  <input type="hidden" name="priceExact" value="<%= priceExact %>">
                <% } %>
                <% if (tag) { %>
                  <input type="hidden" name="tag" value="<%= tag %>">
                <% } %>
                <% if (sort) { %>
                  <input type="hidden" name="sort" value="<%= sort %>">
                <% } %>
                <div class="filter-form-buttons">
                  <button class="btn" type="submit">SET</button>
                  <a class="btn <%= !name ? 'disabled' : '' %>" href="<%= hrefNameUnsetFilter %>">UNSET</a>
                </div>
              </div>
            </form>
            <form method="get">
              <div class="name-price-filters">
                <% if (skip) { %>
                  <input type="hidden" name="skip" value="<%= skip %>">
                <% } %>
                <% if (limit) { %>
                  <input type="hidden" name="limit" value="<%= limit %>">
                <% } %>
                <% if (name) { %>
                  <input type="hidden" name="name" value="<%= name %>">
                <% } %>
                <div class="price-2-div">
                  <div class="price-div">
                    <label for="priceMin-filter">PRICE MIN</label>
                    <input id="priceMin-filter" type="number" name="priceMin" value="<%= priceMin ? priceMin : '' %>" <%= priceExact ? 'disabled' : '' %>/>
                  </div>
                  <div class="price-div">
                    <label for="priceMax-filter">PRICE MAX</label>
                    <input id="priceMax-filter" type="number" name="priceMax" value="<%= priceMax ? priceMax : '' %>" <%= priceExact ? 'disabled' : '' %> />
                  </div>
                </div>
                <% if (tag) { %>
                  <input type="hidden" name="tag" value="<%= tag %>">
                <% } %>
                <% if (sort) { %>
                  <input type="hidden" name="sort" value="<%= sort %>">
                <% } %>
                <div class="filter-form-buttons">
                  <button class="btn <%= priceExact ? 'disabled' : '' %>" type="submit">SET</button>
                  <a class="btn <%= !priceMin && !priceMax ? 'disabled' : '' %>" href="<%= hrefPriceMinMaxUnsetFilter %>">UNSET</a>
                </div>
              </div>
            </form>
            <form method="get">
              <div class="name-price-filters">
                <% if (skip) { %>
                  <input type="hidden" name="skip" value="<%= skip %>">
                <% } %>
                <% if (limit) { %>
                  <input type="hidden" name="limit" value="<%= limit %>">
                <% } %>
                <% if (name) { %>
                  <input type="hidden" name="name" value="<%= name %>">
                <% } %>
                <label for="priceExact-filter">PRICE EXACT</label>
                <input id="priceExact-filter" type="number" name="priceExact" value="<%= priceExact ? priceExact : '' %>" required <%= priceMin || priceMax ? 'disabled' : '' %> />
                <% if (tag) { %>
                  <input type="hidden" name="tag" value="<%= tag %>">
                <% } %>
                <% if (sort) { %>
                  <input type="hidden" name="sort" value="<%= sort %>">
                <% } %>
                <div class="filter-form-buttons">
                  <button class="btn <%= priceMin || priceMax ? 'disabled' : '' %>" type="submit">SET</button>
                  <a class="btn <%= !priceExact ? 'disabled' : '' %>" href="<%= hrefPriceExactUnsetFilter %>">UNSET</a>
                </div>
              </div>
            </form>
            <form class="tag-filters-form" method="get">
              <% if (skip) { %>
                <input type="hidden" name="skip" value="<%= skip %>">
              <% } %>
              <% if (limit) { %>
                <input type="hidden" name="limit" value="<%= limit %>">
              <% } %>
              <% if (name) { %>
                <input type="hidden" name="name" value="<%= name %>">
              <% } %>
              <% if (price) { %>
                <input type="hidden" name="price" value="<%= price %>">
              <% } %>
              <% if (priceMin) { %>
                <input type="hidden" name="priceMin" value="<%= priceMin %>">
              <% } %>
              <% if (priceMax) { %>
                <input type="hidden" name="priceMax" value="<%= priceMax %>">
              <% } %>
              <% if (priceExact) { %>
                <input type="hidden" name="priceExact" value="<%= priceExact %>">
              <% } %>
              <div class="filter-tag-wrapper">
                <div class="two-tags-div">
                  <div class="one-tag-div">
                    <label for="tag-filter-work">work</label>
                    <input type="radio" id="tag-filter-work" name="tag" value="work" required <%= tag === 'work' ? 'checked' : '' %> />
                  </div>
                  <div class="one-tag-div">
                    <label for="tag-filter-lifestyle">lifestyle</label>
                    <input type="radio" id="tag-filter-lifestyle" name="tag"
                    value="lifestyle" required <%= tag === 'lifestyle' ? 'checked' : '' %> />
                  </div>
                </div>                
                <div class="two-tags-div">
                  <div class="one-tag-div">
                    <input type="radio" id="tag-filter-motor" name="tag" value="motor" required <%= tag === 'motor' ? 'checked' : '' %> />
                    <label for="tag-filter-motor">motor</label>
                  </div>
                  <div class="one-tag-div">
                    <input type="radio" id="tag-filter-mobile" name="tag" value="mobile"
                    required <%= tag === 'mobile' ? 'checked' : '' %> />
                    <label for="tag-filter-mobile">mobile</label>
                  </div>
                </div>
              </div>
              <% if (sort) { %>
                <input type="hidden" name="sort" value="<%= sort %>">
              <% } %>
              <div class="filter-form-buttons">
                <button class="btn" type="submit">SET</button>
                <a class="btn <%= !tag ? 'disabled' : '' %>" href="<%= hrefTagUnsetFilter %>">UNSET</a>
              </div>
            </form>
          </div>
        </div>
        <% if (error) { %>
          <pre style="color: rgb(255, 31, 31);"><%= error %></pre>
        <% } %>
        <% if (productsLength <= 0 || skip >= productsLength) { %>
          <h2 class="no-product">No products match the URL</h2>
        <% } %>
        <ul>
          <% products.map((product, index) => { %>
          <li>
            <div>
              <h2><%= product.name %></h2>
              <p>Price: <%= product.price %> €</p>
              <% product.tags.map((tag, index) => { %>
              <p>Tag <%= index + 1 %>: <%= tag %></p>
              <% }) %>
            </div>
            <div class="buttons-image">
              <div>
                <a href="/delete-product/<%= product._id %>" class="btn"
                  >delete</a
                >
                <a href="/update-product/<%= product._id %>" class="btn"
                  >update</a
                >
              </div>
              <img src="<%= product.image %>" alt="<%= product.name %> image" />
            </div>
          </li>
          <% }) %>
        </ul>
      <% } %>
    </main>
  </body>
</html>
