<!DOCTYPE html>
<html>
  <%- include('head.ejs') %>
  <body>
    <%- include('header.ejs') %>
    <main class="main">
      <% if (session.userId) { %>
      <ul>
        <% products.map((product, index) => { %>
        <li>
          <div>
            <h2>Product <%= index + 1 %></h2>
            <p>Name: <%= product.name %></p>
            <p>Price: <%= product.price %> €</p>
            <% product.tags.map((tag, index) => { %>
            <p>Tag <%= index + 1 %>: <%= tag %></p>
            <% }) %>
          </div>
          <div class="buttons-image">
            <a href="/delete-product/<%= product._id %>" class="btn">delete</a>
            <img src="<%= product.image %>" alt="<%= product.name %> image" />
          </div>
        </li>
        <% }) %>
      </ul>
      <% } %>
    </main>
  </body>
</html>
